/* General attributes */
body {
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#834c24;
}

.container {
	background-color:#5B2907;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

#footer {
	margin-left:30px;
	font-size:10px;
}

.header {
  border-top:3px solid #bbbbbb;
  border-bottom: 3px solid #bbbbbb;
  margin:20px 0;
  padding-top:10px;
}

.logo {
	float:right;
}

.nav {
	padding-right:80px;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color:#f3f3f3;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

table { 
  margin: auto;
  width: 80%;
  margin-bottom:30px;
  color:#f3f3f3;  
  }
	
td, th { 
  padding: 10px;  
  }
	
tr:nth-of-type(odd) { 
	background-color:#834c24; 
	} 

label { 
	float: left;
      text-align: right;
      display: block;
      width: 120px; 
	  padding-right: 10px;
	}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
	background-color:#5B2907;
  }


}

/* mobile view and up --- end */

.container-narrow > hr {
  margin: 30px 0;

}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; 
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;

}

.marketing {
  margin: 40px 0;
  color:#F3F3F3;
  
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .col-lg-6 {
	  margin-right:100px;
  }
}