/*===== Body Styling =====*/

/* Set all elements to zero */
* {margin:0; padding:0; font-family:'Open Sans';}

main {width:100%; margin:0 auto;}

/* Make the header spans the width of the page */
header {
  background-color:#323232;
  text-align: center;
  padding:3% 0;
  color:#f9f8f7;
}

/* ===== Nav Elements ===== */

/* Nav hugs bottom of header */
nav {
  margin:0 0 2% 0;
  width:100%;
  text-align:center;
  text-transform:uppercase;
  background-color: #1667a1;
}

/* Make it a horizontal layout */
#navigation {
  list-style-type: none;
  display:inline-block;
  width:70%;
}

#navigation li {
  text-align:center;
  float:left;
  padding:1% 3.5%;
  margin:1% 0;
  font-weight: bold;
  overflow:hidden;
}

/* Give them width, margin, and padding to match 100% */
#navigation li:nth-child(1) {width:12%;}
#navigation li:nth-child(2) {width:15%;}
#navigation li:nth-child(3) {width:13%;}
#navigation li:nth-child(4) {width:13%;}
#navigation li:nth-child(5) {width:12%;}

/* Decorate the links */
#navigation li a {
  text-decoration: none;
  color:#f9f8f7;
  width:100%;
  padding:15% 7%;
}

/*===== Begin Main Content =====*/

/* Give the wrapper a set width */
.body-wrapper {
  width:60%;
  margin:2% auto 0 auto;
  background-color:#222;
}

/* Use this class to clear any floats */
.clearfix {clear:both;}

/* All Content Properties */

/*===== Left Content =====*/
.left-content {
  float:left;
  width:25%;
  margin:0 2% 0 0;
  position:relative;
}

/* Image 1 */
.left-img {box-sizing: border-box; width:100%;}
.left-img img {width:100%;}

.main-content {float:left; width:40%; margin:0 2%;position:relative;}
.main-img img {box-sizing: border-box; width:100%;}

.right-content {float:left; width:25%; margin:0 0 0 2%;position:relative}
