* {
  padding:0;
  margin:0;
  font-family:Cambria, Baskerville, Serif;
  font-size: 1rem;
}

title {display: none;}
body {background:#e6e6dc;}
main {margin:0 auto; width:80%; box-shadow: 0 0 25px 5px; max-width: 1500px;}
header {
  text-align: center;
  margin:0 auto;
  background: #222;
  padding:2em 0;
  width:100%;
  display: block;
}

img {max-width: 100%;}
h1 {font-size: 3em; color:#fff;}
h2 {font-size: 2rem;}
nav {background:#369; margin:0 auto; padding:2em 0; text-align: center; width:100%;}
nav ul li {display: inline-block;}
nav ul li a:hover {color:#000; transition:.5s}
nav ul li a:visited {color:#fff; transition: .5s}
nav ul li a {
  color:#fff;
  font-size: 1.7rem;
  padding:1em;
  text-decoration: none;
  transition:.5s;
}

/* Left Section */
.body-wrapper {margin:0 auto; width:100%;}
.left-content, .main-content, .right-content {
  background:#222222;
  float:left;
  height:650px;
  position:relative;
}

.left-content, .right-content {width:25%;}
.main-content {width:50%;}
section:nth-child(2) {background:#e6e6dc;}
.hours {margin:2em; padding:3em 0 0; text-align: center;}
.left-img {width:80%; margin:0 auto;}
.left-copy {color:#fff; font-size: 1.5rem;}
.left-heading {margin:1em 0 .5em;}
.left-text {font-size: 1.1rem;}
.left-text strong {font-size: 1.2rem;}
.left-text span {font-size: 1.1rem; margin:1em 0 0;}

/* Middle Section */
.main-content-top, .main-content-bottom {clear:both; width:80%; margin:0 auto;}
.main-content-top {margin:0 auto 4em;}
.main-heading {margin:1em 0; text-align: center;}
.main-text {font-size: 1.2rem;}
.main-img {float:right; margin:0 0 0 1em; width:40%;}
.img-bottom {float:left; margin:0 1em 0 0; width:45%;}

/* Right Section */
.right-content-wrap {margin:2em; padding:3em 0 0;}
.right-content-top {margin: 0 0 2em;}
.right-heading {
  background:#e6e6dc;
  border:5px solid #369;
  font-size: 1.2rem;
  margin:0 auto 1em;
  padding:5px;
  text-align: center;
  width:80%;
}

.right-text, .right-list {color:#e6e6dc;}
.right-text {margin:0 0 .5em;}
.right-list {margin:0 0 0 1em;}

footer {background:#222; border-top: 5px solid #369; clear:both; padding:1.5em 0;}
.footer-text {color:#e6e6dc; font-size: .8rem; line-height: 1; text-align: center;}
.footer-text span {display: block; font-size: .8rem;}
