/* Inherit Styling */
* {
    margin:0;
    padding:0;
    font-family:'Avenir Next', 'Open Sans', serif;
}

/* Body Styling */
.body-wrapper {
  width:80%;
  margin:5vw auto 0 auto;
}

/* Sticker Styling */
.sticker-wrapper {
  font-size:2rem;
  display:inline-block;
  text-transform:uppercase;
  position:relative;
}

.sticker-left-side {
  width:20%;
  display:inline-block;
}

.sticker-number {
  font-size:7vw;
}

.sticker-percent {
  display:inline-block;
  position:absolute;
  top:12%;
  left:15%;
}

.sticker-right-side {
  width:50%;
  display:inline-block;
}

.cta::after {
  font-size: 1.65em;
  line-height: 0.75em;
  margin-left: 0.2em;
  content: '\203A';
  vertical-align: baseline;
  vertical-align: -0.045em;
}
