/*
Author: Thao Ha
Last Updated: December 9, 2016
*/

/* =========================================================== */
/* ========================= BASE CSS ======================== */
/* =========================================================== */

/* ########## ALL ELEMENTS ########## */
/* Gives everything a 0 default and sets all font the same */
* {margin:0; padding:0; font-family:"ff-tisa-web-pro", sans-serif;}

/* Hides the display on desktop/tablet */
.mobile {display:none;}

/* ########## NAVIGATION ########## */
nav {
  width:100%;
  background-color:#f47a5d;
  display:inline-block;
  position:fixed;
  height:85px;
  z-index:10;
}

nav ul {
  list-style-type: none;
  overflow:hidden;
  text-align: right;
}

.nav-icon {
  float:left;
  width:10%;
  padding:1%;
  display:block;
  text-align:left;
}

/* Gives the image a set width */
.nav-icon img{width:50px;}

.nav-titles {display:inline; margin:0 50px 0 0;}
.nav-menu {display:inline-block; font-size:20px;}
.nav-menu a {
  color:#f9f8f0;
  text-decoration:none;
  display:block;
  padding:27px;
  font-weight: bold;
  font-family: "jaf-domus";
  font-size:26px;
}

.nav-menu a:hover {
  color:#f47a5d;
  background:#f9f8f0;
  transition:.7s;
}

/* Clears all floats */
.clearfix {clear:both;}

/* ########## HEADER ########## */
/* Gives default padding since nav is fixed. */
header {padding:85px 0 0 0;}

/* Makes the text able to go inside the image */
.header-wrapper {width:100%; position: relative;}
.header-wrapper img {width:100%; display:block; border:0;}

/* Positions the text inside the quote bubble */
.header-text-wrapper {
  position: absolute;
  top:25%;
  left:17%;
  width:35%;
}

/* Color and font size */
.header-title {
  color: #f9f8f7;
  font-size:6vw;
  font-family:"jaf-domus";
}

.header-text {
  font-size: 1.7vw;
  width: 90%;
  margin:4% 0 0 0;
  color:#f9f8f7;
}

/* ########## PORTFOLIO SECTION ########## */
.portfolio-section {padding:85px 0 0 0;}
.portfolio-heading {
  margin: 2% 0;
  padding: 20px 20px 20px 150px;
  width: 180px;
  font-size: 30px;
  background-color: #f47a5d;
  color: #f9f8f7;
}

.portfolio-title {font-family:"jaf-domus";}
/* Wrapper for the portfolio pieces */
.portfolio-work-wrapper {
  margin:70px auto 0 auto;
  width:80%;
  overflow:hidden;
}

/* Individual wrappers for the images */
.portfolio-piece {
  width: 43.5%;
  margin: 3%;
  float: left;
}

.portfolio-piece img {
  width:100%;
  display:block;
  border:0;
  border:4px solid #f3ecd8;
}


/* Lightbox for Desktop / Tablet */
.lightbox {
  position:fixed;
  left:0;
  right:-100%;
  top:100%;
  bottom:0;
  background-color:rgba(0,0,0,0.8);
  display:none;
  opacity: 0;
  transition: all 1000ms ease-out;
}

.lightbox[data-state="visible"] {
  display:block;
  opacity:1;
  top:0;
  right:0;
}

.lightbox-container {
  position:absolute;
  left:10%;
  right:10%;
  top:15%;
  bottom:10%;
  background-color:#fff;
  border-radius:10px;
  box-shadow:1px 1px 4px #000;
}

/* Styling for the button */
.btn-close {
  padding: 5px;
  margin: 1% 2%;
  font-family: "jaf-domus";
  font-size: 2vw;
  float:right;
  z-index:100;
  background-color:#fff;
  color:#f47a5d;
  border:0;
}

/* Styling for left and right buttons */
.btn-left {
  position: absolute;
  top: 45%;
  left: 3%;
  z-index: 100;
  background: #fff;
  border: 0;
  color: #f47d5a;
  font-size: 3.2em;
}

.btn-right {
  position: absolute;
  top: 45%;
  right: 3%;
  z-index: 100;
  background: #fff;
  border: 0;
  color: #f47d5a;
  font-size: 3.2em;
}

.lightbox-content {
  position:absolute;
  top:50%;
  left:50%;
  width:calc(100% - 12em);
  transform:translate(-50%, -50%);
}

.lightbox-img {
  display:block;
  width:50vw;
  margin:0 auto;
  text-align: center;
}

.lightbox-heading {
  color:#f47a5d;
  margin:.5% 20%;
  width:30%;
  font-family:"jaf-domus";
}

.lightbox-text {width:65%; margin:0 20%;}

/* ########## CONTACT SECTION ########## */
.contact-section {padding:85px 0 0 0;}
.contact-heading {
  margin: 2% 0;
  padding: 20px 20px 20px 150px;
  width: 180px;
  font-size: 30px;
  background-color: #f47a5d;
  color: #f9f8f7;
}

.contact-title {font-family:"jaf-domus";}
.contact-wrapper {margin:0 auto;width:80%;}
.contact-text {color:#9d9e9f; font-size:25px; margin:10% 0;}
.new-line a {color:#f47a5d; cursor:pointer; text-decoration: none;}

.contact-form-wrapper {width:80%; margin:30px auto 0 auto;}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea {
  width:93%;
  color:#f47a5d;
  margin:2% 0;
  padding:3%;
  font-size:20px;
  font-family:"ff-tisa-web-pro";
  border:2px solid #f47a5d;
}

.form-style input[type="submit"] {
  padding:15px 25px;
  color:#f47a5d;
  display:block;
  margin:5% 0 5% auto;
  cursor:pointer;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  background:#fff;
  font-family:"ff-tisa-web-pro";
  border:2px solid #f47a5d;
}

.form-style input[type="submit"]:hover {
  color:#f9f8f7;
  transition:.7s;
  background:#f47a5d;
}

/* ########## FOOTER SECTION ########## */
footer {width:100%; background-color: #f47a5d;}
.footer-text {
  text-align:center;
  color:#f9f8f7;
  font-size:14px;
  padding:3vw 0;
}

/* =========================================================== */
/* ======================== MOBILE CSS ======================= */
/* =========================================================== */

@media screen and
(max-width:768px) {
  /* ########## NAVIGATION ########## */
  nav {height:15vw;}
  .nav-icon {padding:3.2vw;}
  .nav-icon img {width:7vw;}
  .nav-titles {margin:0 5vw 0 0;}
  .nav-menu a {padding:4.5vw 3vw; font-size:5vw;}

  /* ########## HEADER ########## */
  header {padding:15vw 0 0 0;}
  .desktop {display:none;}
  .mobile {display:block;}

  .header-text-wrapper {top:16%; left:22%;}
  .header-title {font-size:7vw;}
  .header-text {font-size: 2.1vw;}

  /* ########## PORTFOLIO SECTION ########## */
  .portfolio-section {padding:20vw 0 0 0;}
  .portfolio-heading {
    margin: 0;
    padding: 2vw 2vw 2vw 13vw;
    width:37vw;
    font-size:7vw;
  }

  .img-title {
    font-family:"jaf-domus";
    color:#f47a5d;
    margin: 0 0 3vw 0;
    font-size:4vw;
  }

  .img-text {
    font-family: "ff-tisa-web-pro";
    color:#9d9e9f;
    margin:4vw 0 7vw 0;
  }

  .portfolio-piece {float:none; width:95%;}

  /* ########## CONTACT SECTION ########## */
  .contact-section {padding:20vw 0 0 0;}
  .contact-heading {
    margin: 0;
    padding: 2vw 2vw 2vw 13vw;
    width:37vw;
    font-size:7vw;
  }

  .contact-text {font-size:3vw;}
  .contact-form-wrapper {margin:30px auto 10vw auto; width:100%;}

}
